$color-background: #0a0908;
$color-screen:#22333b;
$color-number-buttons:#eae0d5;
$color-operator-buttons:#c6ac8f;
$color-other-buttons:#8a6b46;
$color-text-and-border:#ffffff;
$color-operation-text:#BCC3CB;
$font-family:'Orbitron', sans-serif;