* {
  padding: 0;
  margin: 0;
}

.layout {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.layout .layout__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3D4655;
  width: 80vw;
  height: 25vh;
  padding: 1rem;
}
.layout .layout__header .layout__header__result {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  background-color: #FCFCFC;
  padding: 1.3rem;
  margin: 1rem;
  width: 40vw;
}
.layout .layout__header .layout__header__operation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 5vh;
  border: 2px solid white;
  background-color: #FCFCFC;
  padding: 0.5rem;
  margin: 0.5rem;
}