*{
    padding:0;
    margin:0;
}


*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.calculator{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem 1rem;
    margin: 1rem;
    .calculator__header{
        grid-column: span 4;
        border: 1px solid black;
        padding: 2rem;
    }
    .calculator__button{
        font-size: 2rem;
    }
    #equal_button{
        grid-column: span 2;
    }
}